<!doctype html>
{% load static %}
{% csrf_token %} 
{% load leaflet_tags %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dashboard</title>   
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
    {% leaflet_js %}
    {% leaflet_css %}
  </head>

  <body>
    <!-- Menu section -->  
        <div class="menu">
            <div id="logo">
                <img src="{% static 'img/logo.png'%}">
            </div>
            <div class="search"> 
                        <div class="input-group stylish-input-group">
                          <span class="input-group-addon">
                            <button type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>  
                        </span>
                            <input type="text" class="form-control"  placeholder="Search for the location within Ireland" >
                          </div>  
            </div>
            <nav class="nav">

              <div class="wrap">
                <ul class="navbar-nav mr-auto" >
                  <li class="nav-item active" >
                    <a class="nav-active"class="nav-item is-active"  href="{% url 'index' %}">Dashboard <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'analysis' %}">Analysis</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Prediction</a>
                  </li>
                 <li class="nav-item">
                    <a class="nav-link" href="#">Notebook</a>
                  </li>
                </ul>
              </div>
              <span class="nav-indicator"></span>
            </nav>
        </div>
        
    <!-- Map Section -->
    <script src="{% static 'under.js' %}"> </script>
    <div id="map"><script src="{% static 'main.js' %}"></script> </div>
        
  </body>
</html>