@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

html, body * {
    font-family: Inter;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.menu {
    position: absolute;
    background-color: blue;
    width: 100%;
    height: 45px;
}
#logo {
    width: 35px;
    height: 30px;
    float: left;
    margin-left: 1%;
    margin-top: 5px;
}


.search {
    float: left;
    width: 40%;
    height: 29px;
    margin-left: 1%;
    margin-top: 5px;
}

input:focus{
    outline: none;
    box-shadow: none;
    border: none;
}

#map_container {
    width: 100%;
    height: 100vh;
    float: left;
    background-color: red;
}

.map {
    contain: size;
    float: left;
}


.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
