.cluster-marker {
  color: #fff;
  background: #1978c8;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.house-marker {
  background: none;
  border: none;
}

.cluster-marker {
  background: none;
  border: none;
}

.house-marker img {
  width: 33px;
}

.cluster-marker img {
  width: 33px;
}


